h1 {
    font-family: Verdana, 'Arial Narrow Bold', sans-serif;
    font-size: 54px;
    color: rgb(31, 13, 29);
    text-align: center;
}

body {
    background-color: rgb(238, 157, 171);
    width: 80%;
    margin: auto;
    margin-bottom: 56px;
}
.beterrabas{
    width: 700px;
    height: 200px;
}
.danca{
    float: left;
    height: 200px;
}