h1 {
    font-family: Verdana, 'Arial Narrow Bold', sans-serif;
    font-size: 54px;
    color: rgb(31, 13, 29);
    text-align: center;
}

body {
    background-color: rgb(238, 157, 171);
    width: 80%;
    margin: auto;
    margin-bottom: 56px;
}
.beterrabas{
    width: 700px;
    height: 200px;
}
.danca{
    float: left;
    height: 200px;
}

.menu{
    text-align: center;
}
.menu li {
    list-style: none;
    display: inline-block;
    
}
.menu a{
    padding: 16px;
    display: block;
    background-color: rgb(161, 23, 99);
    text-decoration: none;
    color: beige;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu a:hover{
    background-color: rgb(238, 126, 214);
    text-decoration: none;
    color: blanchedalmond;
}