h1 {
    font-family: Verdana, 'Arial Narrow Bold', sans-serif;
    font-size: 54px;
    color: rgb(31, 13, 29);
    text-align: center;
    color: rgb(92, 9, 20);
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    background-color: rgb(238, 157, 171);
    width: 900px;
    margin: auto;
    margin-bottom: 56px;
    font-size: 25px;
    text-align: justify;
    
}
.beterrabas{
    width: 900px;
    height: 400px;
    
    
}
.danca{
    float: left;
    height: 200px;
}

.menu{
    text-align: left;
    width: 100%;
}
.menu li {
    list-style: none;
    display: inline-block;
    
}
.menu a{
    margin-top: 0px;
    padding: 16px;
    display: block;
    background-color: rgb(161, 23, 99);
    text-decoration: none;
    color: beige;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu a:hover{
    background-color: rgb(238, 126, 214);
    text-decoration: none;
    color: blanchedalmond;
    border: 2px;
    border:solid;
}

p{
    text-indent: 20px;
}